{% load static %}
    <!DOCTYPE html>
    <html lang="es">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
      <title>Tablero de Control Moderno</title>
      <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    </head>
    <body>
      <div class="container mt-4 mb-5">
        <div class="dashboard-header text-center">
          <h1 class="display-4">Tablero de Control</h1>
        </div>

        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="/Proveedores/mis-datos/" class="dashboard-card card-mis-datos">
              <i class="fas fa-user icon"></i>
              <h5>Mis Datos</h5>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <a href="/Proveedores/comprobantes/" class="dashboard-card card-comprobantes">
              <i class="fas fa-file-invoice icon"></i>
              <h5>Comprobantes</h5>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="dashboard-card card-resumenCuentas">
              <i class="fas fa-chart-line icon"></i>
              <h5>Resumen de Cuenta</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="dashboard-card disabled">
              <i class="fas fa-cogs icon"></i>
              <h5>Botón 4</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="dashboard-card disabled">
              <i class="fas fa-envelope icon"></i>
              <h5>Botón 5</h5>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="dashboard-card disabled">
              <i class="fas fa-question-circle icon"></i>
              <h5>Botón 6</h5>
            </div>
          </div>
        </div>

        <div class="text-center mt-4 mb-4">
            <button class="btn btn-outline-danger btn-logout" onclick="logout()">
                <i class="fas fa-sign-out-alt"></i> Cerrar sesión
            </button>
        </div>
      </div>

      <script src="{% static 'dashboard.js' %}"></script>
    </body>
    </html>
