<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\Adm_Proveedores\env\Scripts\python.exe|C:\inetpub\wwwroot\Adm_Proveedores\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpRedirect enabled="false" destination="" />
    </system.webServer>
</configuration>
