<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\Proyectos\Adm_Proveedores\env\Scripts\python.exe|D:\Proyectos\Adm_Proveedores\env\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
        <httpRedirect enabled="false" destination="" />
        <security>
            <requestFiltering>
                <!-- 5 MB en bytes -->
                <requestLimits maxAllowedContentLength="5242880" />
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
