<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="DjangoHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="c:\users\eduardo.berga\desktop\proyectos_django\proveedores\adm_proveedores\env\scripts\python.exe|c:\users\eduardo.berga\desktop\proyectos_django\proveedores\adm_proveedores\env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
        <httpRedirect enabled="false" destination=""/>
    </system.webServer>
</configuration>
